<window id="4">
	<defaultcontrol>7000</defaultcontrol>
  <allowoverlay>no</allowoverlay>
  <backgroundcolor>0</backgroundcolor>
	<controls>
	<include>BackgroundItems</include>

			<control type="group">
			  <visible>!Window.IsActive(Favourites) + !Window.IsActive(BusyDialog) + !Window.IsActive(ProgressDialog) + !Window.IsActive(PlayerControls) + !Window.IsActive(busy.xml)</visible>
		    <include>VisibleHiddenSlideAnimation</include>
		    <include>DialogZoomInOutAnimation</include>
				<control type="panel" id="7000">
					<posx>27</posx>
					<posy>150</posy>
					<width>1220</width>
					<height>420</height>
					<onleft>7000</onleft>
					<onright>7000</onright>
					<ondown>7000</ondown>
					<onup>7000</onup>
					<include>OpenCloseSlideAnimation</include>
					<itemlayout height="202" width="202">
						<control type="image">
							<width>216</width>
							<height>216</height>
							<aspectratio align="center" aligny="center">stretch</aspectratio>
							<texture border="30">views/thumbnails/thumb_panel.png</texture>
						</control>
						<control type="image">
							<posx>25</posx>
							<posy>25</posy>
							<width>166</width>
							<height>136</height>
							<aspectratio align="center" aligny="center">scale</aspectratio>
						  <texture background="true">$INFO[ListItem.ActualIcon]</texture>
							<bordertexture border="15,15,15,15">dialogs/other/iconborder_black.png</bordertexture>
						  <bordersize>6</bordersize>
						</control>
						<control type="image">
							<posx>25</posx>
							<posy>25</posy>
							<width>166</width>
							<height>136</height>
							<aspectratio align="center" aligny="center">scale</aspectratio>
						  <texture background="true">$INFO[ListItem.Thumb]</texture>
							<bordertexture border="15,15,15,15">dialogs/other/iconborder_black.png</bordertexture>
						  <bordersize>6</bordersize>
						</control>
						<control type="label">
							<posx>108</posx>
							<posy>160</posy>
							<width>162</width>
							<height>35</height>
							<textcolor>white</textcolor>
							<shadowcolor>77000000</shadowcolor>
							<font>FontSize_22</font>
							<scroll>false</scroll>
							<align>center</align>
							<aligny>center</aligny>
							<label>$INFO[ListItem.Label]</label>
						</control>
					</itemlayout>
					<focusedlayout height="202" width="202">
						<control type="image">
							<width>216</width>
							<height>216</height>
							<aspectratio align="center" aligny="center">stretch</aspectratio>
							<texture border="30">views/thumbnails/thumb_panel.png</texture>
						</control>
						<control type="image">
							<posx>25</posx>
							<posy>25</posy>
							<width>166</width>
							<height>136</height>
							<aspectratio align="center" aligny="center">scale</aspectratio>
						  <texture background="true">empty_icon.png</texture>
							<bordertexture border="15,15,15,15">dialogs/other/iconborder_black.png</bordertexture>
						  <bordersize>6</bordersize>
						</control>
						<control type="image">
							<posx>25</posx>
							<posy>25</posy>
							<width>166</width>
							<height>136</height>
							<colordiffuse>FF04aeda</colordiffuse>
							<aspectratio align="center" aligny="center">scale</aspectratio>
						  <texture background="true">$INFO[ListItem.Thumb]</texture>
						  <bordersize>6</bordersize>
						</control>
						<control type="image">
							<posx>25</posx>
							<posy>25</posy>
							<width>166</width>
							<height>136</height>
							<aspectratio align="center" aligny="center">scale</aspectratio>
						  <texture background="true">$INFO[ListItem.ActualIcon]</texture>
						  <bordersize>6</bordersize>
						</control>
						<control type="label.">
							<posx>108</posx>
							<posy>160</posy>
							<width>162</width>
							<height>35</height>
							<textcolor>white</textcolor>
							<shadowcolor>77000000</shadowcolor>
							<font>FontSize_22</font>
							<scroll>false</scroll>
							<align>center</align>
							<aligny>center</aligny>
							<label>$INFO[ListItem.Label]</label>
							<visible>!Control.HasFocus(7000)</visible>
						</control>
						<control type="label">
							<posx>108</posx>
							<posy>160</posy>
							<width>162</width>
							<height>35</height>
							<textcolor>blue</textcolor>
							<shadowcolor>77000000</shadowcolor>
							<font>FontSize_22</font>
							<scrollspeed>35</scrollspeed>
							<align>center</align>
							<aligny>center</aligny>
							<label>$INFO[ListItem.Label]</label>
						</control>
						<control type="image">
							<posx>0</posx>
							<width>216</width>
							<height>216</height>
							<aspectratio align="center" aligny="center">stretch</aspectratio>
							<texture border="30">views/thumbnails/focus.png</texture>
	            <animation type="Focus">
                <effect type="zoom" start="95" end="100" time="150" tween="sine" easing="inout" center="auto" />
	            </animation>
						</control>
					</focusedlayout>
					<content>
						<item id="1">
							<onclick>ActivateWindow(AppearanceSettings)</onclick>
							<thumb>icons/Appearance.png</thumb>
							<label>480</label>
						</item>
						<item id="2">
							<onclick>ActivateWindow(VideosSettings)</onclick>
							<thumb>DefaultVideo.png</thumb>
							<label>157</label>
						</item>
						<item id="3">
							<onclick>ActivateWindow(PVRSettings)</onclick>
							<thumb>icons/LiveTV.png</thumb>
							<label>31000</label>
						</item>
						<item id="4">
							<onclick>ActivateWindow(MusicSettings)</onclick>
							<thumb>DefaultAudio.png</thumb>
							<label>2</label>
						</item>
						<item id="5">
							<onclick>ActivateWindow(PicturesSettings)</onclick>
							<thumb>DefaultPicture.png</thumb>
							<label>1</label>
						</item>
						<item id="6">
							<onclick>ActivateWindow(WeatherSettings)</onclick>
							<thumb>icons/Weather.png</thumb>
							<label>8</label>
						</item>
						<item id="7">
							<onclick>ActivateWindow(AddonBrowser)</onclick>
							<thumb>DefaultAddon.png</thumb>
							<label>24001</label>
						</item>
						<item id="8">
							<onclick>ActivateWindow(NetworkSettings)</onclick>
							<thumb>DefaultNetwork.png</thumb>
							<label>14036</label>
						</item>
						<item id="9">
							<onclick>ActivateWindow(SystemSettings)</onclick>
							<thumb>icons/System.png</thumb>
							<label>13000</label>
						</item>
						<item id="10">
							<onclick>ActivateWindow(SystemInfo)</onclick>
							<thumb>icons/SystemInfo.png</thumb>
							<label>130</label>
						</item>
						<item id="11">
							<onclick>ActivateWindow(SkinSettings)</onclick>
							<thumb>icons/Skin.png</thumb>
							<label>20077</label>
							<visible>!Container(7000).HasFocus(11)</visible>
						</item>
						<item id="11">
							<onclick>ActivateWindow(SkinSettings)</onclick>
							<icon>icons/Skin2.png</icon>
							<label>20077</label>
							<visible>Container(7000).HasFocus(11)</visible>
						</item>
						<item id="12">
							<onclick>ActivateWindow(1111)</onclick>
							<thumb>icons/Help.png</thumb>
							<label>Help</label>
						</item>
					</content>
				</control>
			</control>

		<include>CommonNowPlaying</include>
		<include>SettingsCategoryContentInfo</include>
		<include>CommonDialogsFadeOutBG</include>
		<include>SettingsWeatherAndClock</include>
	</controls>
</window>		