<window id="4">
	<defaultcontrol>-</defaultcontrol>
  <allowoverlay>no</allowoverlay>
  <backgroundcolor>0</backgroundcolor>
	<onload condition="!Window.Previous(filemanager)">ReplaceWindow(Home)</onload>
	<onload condition="Window.Previous(filemanager)">ReplaceWindow(AppearanceSettings)</onload>
	<controls>
	</controls>
</window>		